<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    />

    <title>GRIDFS</title>
  </head>
  <body>
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="text-center display-4 my-4">Mongo File uploads</div>
        <form action="/uploads" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input
              type="file"
              name="file"
              id="file"
              class="custom-file-input"
            />
            <label for="file" class="custom-file-label">Choose file</label>
          </div>
          <div>
            <input
              type="submit"
              value="Submit"
              class="btn btn-primary btn-block"
            />
          </div>
				</form>

				<hr>
				<% if (files) { %> 
					<% files.forEach((file) => { %>
						<div class="card card-body mb-3">
							<% if (file.isImage) { %>
								<img src="image/<%= file.filename %>" style="width: 100%;">
							<% } else { %>
								<%= file.filename %>
							<% } %>
						</div>
					<% }) %> 
				<% } else { %>
					<p>No files to show</p>
				<% } %>  
      </div>
    </div>
  </body>
</html>
